@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

/* Credit meyerweb.com */
:root {
    --colors-orange: #f8a619;
    --colors-grey: #E9E9E9;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
    font-size: 13pt;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

p, span, a {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/*
    Title bar at top
*/

.top-title-bar {
    background: var(--colors-orange);
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-title-bar h3 {
    padding: 20px;
    font-size: 2rem;
}

.top-title-bar h3:last-child {
    margin-left: auto;
}

/*
    Side bar with links
*/

.sidebar {
    background: var(--colors-grey);
    display: flex;
    flex-direction: column;
    width: max-content;
    /* flex-grow: 1; */
}

.sidebar a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 10px;
    font-weight: bolder;
    width: 250px;
}

/*
    Main content
*/

.main-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-wrapper .statistics {
    display: flex;
    flex-direction: row;
}

.main-wrapper .statistics .stat-board {
    background: var(--colors-orange);
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
    flex-basis: 0;
    flex-grow: 1;
}

.main-wrapper .statistics .stat-board span {
    font-size: 2rem;
}

.main-wrapper div > * {
    padding-bottom: 5px;
}
