@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap');

/* Credit meyerweb.com */
:root {
    --colours-orange: #f8a619;
    --colours-grey: #f1f1f1;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
    font-size: 13pt;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100%;
    font-weight: lighter;
}

body {
    height: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.25rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

p, span, a {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

/*
    Title bar at top
*/

.top-title-bar {
    background: var(--colours-orange);
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
    top: 0;
}

.top-title-bar h3 {
    padding: 20px;
    font-size: 2rem;
    font-weight: lighter;
}

.top-title-bar h3:last-child {
    margin-left: auto;
}

/*
    Side bar with links
*/

.sidebar {
    background: var(--colours-grey);
    display: flex;
    flex-direction: column;
    width: max-content;
    position: sticky;
    position: -webkit-sticky;
    top: 82px;
    height: calc(100vh - 82px);
    float: left;
    /* flex-grow: 1; */
}

.sidebar a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 10px;
    width: 250px;
}

/*
    Main content
*/

.main-wrapper {
    display: flex;
    flex-direction: column;
}
